* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #344151;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_text {
    color: #0398d4;
    font-size: medium;
    font-size: 20px;
}

.count {
    color: #344151 ;
    background-color: white;
    display: flex;
    font-size: medium;
    font-size: 20px;
    flex-direction: row;
    margin-top: 20px;

    
}

.decrement {
    
    background-color: white;
    border: none;
    padding-inline: 20px;
    border-right: black;
    border-color: #bfbfbf;
    padding-block: 10px;
    border-right: 2px solid black;
}

.increment {
    border: none;
    background-color: white;
    padding-inline: 20px;
    border-right: 2px;
    border-color: #bfbfbf;
    padding-block: 10px;
    border-left: 2px solid black;
}

.count_value {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 30px;
    padding-block: 10px;
    font: bold;
}

